/* 테스트 삭제 */

.ub-style{
  background-color: #ccc;
  border: 1px solid #000;
  box-sizing: border-box;
}

/* .ub-style 연속으로 나올 때 동생에게 해당 스타일을 주세요. */
.ub-style + .ub-style{
  margin-top: 50px;
}
/* 공통 */
/* 타이포그라피 */
input, select, textarea, body, code, button {
    font-family: "Poppins", "Pretendard Variable", Pretendard, Arial, sans-serif !important;
    /* font-family: "Pretendard Variable", Pretendard, Arial, sans-serif !important; */
}

/* 단배너 css */
/* 단배너 공통 */
.dan-section{}
.dan-section .flex > .item{
  flex: auto; /* red */
}
/* flex item 사이에 여백주는 방법 3가지

  1. justify-content : space-between
  2. flex에 gap
  3. item에 margin

*/

.dan-section .item{
  /* flex:none; */
}

/* 
단, 썸네일의 높이가 달라지는 문제 때문에 padding 값 수정 문제 발생
*/
/* .dan-section .item:first-child{
  padding-left: 0px;
}
.dan-section .item:last-child{
  padding-right: 0px;
} */
/* html의 flex 컨테이너에게 .gap- 으로 지정하세요. */
.dan-section .flex .item[class*="col-"]{
  padding-left: 0;
  padding-right: 0;
}

.dan-section .item .thumb{}
.dan-section .item .thumb .xans-smart-banner-admin{
  margin-bottom: 0;
}
.dan-section .item .thumb img{}
.dan-section .item .desc{}

/* .section.ub-style 스타일 */
.ub-style.section_full{
  /* 본인 브랜드 색상을 사용하세요 var(--section-bg) 권해드려요. */
  background-color: var(--section-bg);
}
.ub-style .ub-style-inner{}

/* .section이 브라우저를 다 차지할 때 정렬을 위한 .ub-style-inner */
@media (min-width:1024px){
	#contents > .section_full.ub-style .ub-style-inner {
    max-width:1420px;
    width:92%;
    margin-left:auto;
    margin-right:auto;
  }
}

/* .ub-style .main_title */
.ub-style .main_title.main_title_direction_row{
  display: flex;
  justify-self: start;
  align-items: end;
}
.ub-style .main_title_direction_row [class*="main_title_"]:last-of-type{
    margin-left: 10px;
}
.ub-style .main_title.main_title_direction_column{
  display: block;
}

.ub-style .main_title.main_title_direction_column [class*="main_title_"]:last-of-type{
    margin-top: 10px;
    margin-left: 0px;
}

/*  */

/* 미디어쿼리 */


/* 1024px 이하에서
1. dan-section 3단 일렬로 표시
   문제1. 브라우저 크기가 줄어들면 이미지가 같이 줄어듦
   -  
2. 태블릿에서는 1.8개 (col-lg) / 모바일에서는 1.2개 (col-md) : 각각 html문서 내 item에 클래스로 추가
3. 부드러운 스크롤링 추가 (slide-behavior)
   문제1. 스크롤바 표시 (overflow-x:auto)
   문제2. css로 부드러운 스크롤링 추가
   - .flex : scroll-behavior, scroll-snap-type, overflow-x(스크롤바 전제조건)
   - .item : scroll-snap-align
*/
@media (max-width:1024px){
  /* .dan-section */
  .dan-section .flex{
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: auto;
    /* 스크롤될 때 요소가 snap 타입 */
    scroll-snap-type: x mandatory;
  }
  .dan-section .flex .item{
    flex-shrink: 0;
    scroll-snap-align: center;
  }
}